body{
    background-color: lightskyblue;
    text-align: center;
}

main{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
/* img{
    transform: rotateZ(90deg);
    transform: translateY(200px);
    transform: scaleY(2);
    transform: rotateZ(-90deg) translateY(200px) scale(2);

} */
.circle{
    width: 100px;
    padding: 50px 0;
    line-height: 0;
    margin: 60px auto;
    background: pink;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    /* transition: background 1s, transform 1s 1s linear; */
    transition: background 1s, transform 1s 1s ease-out;
}
.circle:hover{
    background: salmon;
    transform: rotate(360deg);
}

